<form autocomplete="off">
  <div class="form-group">
    <label>{{localize 'OSE.dialog.xp.amount'}}</label>
    <input name="total" placeholder="0" type="number" data-dtype="Number" />
  </div>
  <hr />
  <ul class="actors">
    {{#each actors as |e|}}
    <li class="actor form-group" data-actor-id="{{e.id}}">
      <span class="share-tag">{{e.system.details.xp.share}}%</span>
      <label title="{{e.name}}">{{e.name}}</label>
      <input name="" placeholder="0" type="number" data-dtype="Number" />
    </li>
    {{/each}}
  </ul>
  <div class="dialog-buttons">
    <button type="button" data-action="deal-xp">
      <i class="fas fa-hand-holding"></i> {{localize 'OSE.dialog.xp.deal'}}
    </button>
  </div>
</form>
