:host {
  display: block;
}
:host(:focus-within) ::part(content) {
  box-shadow: 0 0 10px var(--color-shadow-primary);
}
:host([modifier-value]) .value-pair {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
}
input {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  text-align: center;
  padding: 6px 0;
  line-height: 1em;
  color: var(--color-primary);
}
input:focus {
  outline: none;
}
.modifier-field {
  border-left: 1px solid var(--background-color-heading);
  color: var(--color-secondary);
}
labeled-section {
  --content-padding: 4px;
}

@media(prefers-color-scheme: dark) {
  labeled-section::part(content) {
    background-color: var(--color-ui-38);
  }
  :host([readonly]) labeled-section::part(content) {
    background-color: var(--color-ui-09);
  }
}
