:host {
  display: block;
  border: 1px solid var(--background-color-heading);
  width: 100%;
  height: var(--font-size-20);
  position: relative;
}

:host, .meter-progress {
  border-radius: var(--spacing-quarter);
}

.value, .meter-progress {
  position: absolute;
  top: var(--spacing-quarter);
  bottom: var(--spacing-quarter);
}

.value {
  right: var(--spacing-quarter);
}

.meter-progress {
  left: var(--spacing-quarter);
}

@media (prefers-color-scheme: dark) {
  :host {
    border: none;
    background-color: var(--color-ui-09);
    padding: var(--spacing-quarter);
  }

  .meter-progress {
    background-color: var(--color-ui-38);
  }
}