:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  grid-gap: 8px;
}
:host(:focus) {
  outline: none;
}
:host(:focus-within) {
  box-shadow: 0 0 10px var(--color-shadow-primary);
}
.icon {
  display: block;
  width: 100%;
  height: auto;
}
:host :last-child {
  text-align: left;
}