<form autocomplete="off">
  <div class="inventory">
        <ul class="item-list">
        {{#each owned.weapons as |item|}}
        <li class="item-entry item" data-item-id="{{item.id}}">
          <div class="item-header flexrow">
            <div
            class="item-image"
            style="background-image: url({{item.img}})"
          ></div>
          <h4 class="item-name" title="{{item.name}}">{{item.name~}}</h4>
            <div class="field-short">
              {{item.system.cost}}
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      <ul class="item-list">
        {{#each owned.armors as |item|}}
        <li class="item-entry item" data-item-id="{{item.id}}">
            <div class="item-header flexrow">
              <div
              class="item-image"
              style="background-image: url({{item.img}})"
            ></div>
            <h4 class="item-name" title="{{item.name}}">{{item.name~}}</h4>
              <div class="field-short">
                {{item.system.cost}}
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
      <ul class="item-list">
        {{#each owned.containers as |bag|}}
        <li class="item-entry item" data-item-id="{{bag.id}}">
            <div class="item-header flexrow">
              <div
              class="item-image"
              style="background-image: url({{bag.img}})"
            ></div>
            <h4 class="item-name" title="{{bag.name}}">{{bag.name~}}</h4>
              <div class="field-short">
                {{bag.system.cost}}
              </div>
            </div>
          </li>
        {{#each bag.system.itemIds as |item|}}
        <ol>
        <li class="item-entry item" data-item-id="{{item.id}}">
            <div class="item-header flexrow">
              <div
              class="item-image"
              style="background-image: url({{item.img}})"
            ></div>
            <h4 class="item-name" title="{{item.name}}">{{item.name~}}</h4>
              <div class="field-short">
                {{item.system.cost}}
              </div>
            </div>
          </li>
        </ol>
            {{/each}}
        {{/each}}
      </ul>
      <ul class="item-list">
        {{#each owned.items as |item|}}
        <li class="item-entry item" data-item-id="{{item.id}}">
            <div class="item-header flexrow">
              <div
              class="item-image"
              style="background-image: url({{item.img}})"
            ></div>
            <h4 class="item-name" title="{{item.name}}">{{item.name~}}</h4>
              <div class="field-short">
                {{item.system.cost}}
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
    <footer class="sheet-footer">
      <button class="auto-deduct"
        ><i class="fas fa-handshake"></i>{{localize "OSE.dialog.purchaseFor" totalCost=totalCost}}</button>
    </footer>
  </div>
</form>
