<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.Melee'}} ({{mod @root.system.scores.str.mod}})
      </li>
      <li>
        {{localize 'OSE.exploration.od.long'}} ({{@root.system.scores.str.od}} in 6)
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.SpokenLanguages'}} ({{localize @root.system.scores.int.spoken}})
      </li>
      <li>
        {{localize 'OSE.Literacy'}} ({{localize @root.system.scores.int.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.wis.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.saves.magic.long'}} ({{mod @root.system.scores.wis.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.Missile'}} ({{mod @root.system.scores.dex.mod}})
      </li>
      <li>
        {{localize 'OSE.Initiative'}} ({{mod @root.system.scores.dex.init}})
      </li>
      <li>
        {{localize 'OSE.ArmorClass'}} ({{mod @root.system.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.Health'}} ({{mod @root.system.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.NPCReaction'}} ({{mod @root.system.scores.cha.npc}})
      </li>
      <li>
        {{localize 'OSE.RetainersMax'}} ({{add @root.system.scores.cha.mod 4}})
      </li>
      <li>
        {{localize 'OSE.Loyalty'}} ({{add @root.system.scores.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>