<section class="flexrow">
    <ul class="attributes flexrow">
        <li class="attribute health">
            <h4 class="attribute-name box-title" title="{{ localize 'OSE.Health' }}">{{ localize "OSE.HealthShort" }}</h4>
            <div class="attribute-value multiple">
                <input name="data.hp.value" type="text" value="{{data.hp.value}}" data-dtype="Number"
                    placeholder="10" />
                <span class="sep"> / </span>
                <input name="data.hp.max" type="text" value="{{data.hp.max}}" data-dtype="Number" placeholder="10" />
            </div>
        </li>
        <li class="attribute">
            <h4 class="attribute-name box-title" title="{{ localize 'OSE.ArmorClass' }}">{{ localize "OSE.ArmorClassShort" }}</h4>
            <div class="attribute-value">
                <input name="data.ac.value" type="text" value="{{data.ac.value}}" data-dtype="Number"
                    placeholder="10" data-dtype="Number" />
            </div>
        </li>
        <li class="attribute">
            <h4 class="attribute-name box-title" title="{{ localize 'OSE.Thac0' }}">{{ localize "OSE.Thac0" }}</h4>
            <div class="attribute-value">
                <input name="data.thac0.value" type="text" value="{{data.thac0.value}}" placeholder="0"
                    data-dtype="Number" />
            </div>
        </li>
        <li class="attribute">
            <h4 class="attribute-name box-title" title="{{ localize 'OSE.Melee' }}">{{ localize "OSE.MeleeShort" }}</h4>
            <div class="attribute-value">
                <input name="data.thac0.melee" type="text" value="{{data.thac0.melee}}" placeholder="0"
                    data-dtype="Number" />
            </div>
        </li>
        <li class="attribute">
            <h4 class="attribute-name box-title" title="{{ localize 'OSE.Missile' }}">{{ localize "OSE.MissileShort" }}</h4>
            <div class="attribute-value">
                <input name="data.thac0.missile" type="text" value="{{data.thac0.missile}}" placeholder="0"
                    data-dtype="Number" />
            </div>
        </li>
        {{#if config.individualInit}}
        <li class="attribute">
            <h4 class="attribute-name box-title" title="{{ localize 'OSE.Initiative' }}">{{ localize "OSE.InitiativeShort" }}</h4>
            <div class="attribute-value">
                <input name="data.initiative.value" type="text" value="{{data.initiative.value}}"
                    placeholder="0" data-dtype="Number" />
            </div>
        </li>
        {{/if}}
        <li class="attribute">
            <h4 class="attribute-name box-title">{{ localize "OSE.MovementShort" }}</h4>
            <div class="attribute-value">
                <input name="data.movement.value" type="text" value="{{data.movement.value}}"
                    placeholder="0" data-dtype="Number" />
            </div>
        </li>
    </ul>
</section>
<section class="flexrow">
    {{!-- Scores --}}
    <div class="attribute-group">
        <ul class="attributes">
            <li class="attribute">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.scores.str.long' }}">{{ localize "OSE.scores.str.short" }}</h4>
                <div class="attribute-value">
                    <input name="data.scores.str.value" type="text" value="{{data.scores.str.value}}" placeholder="0"  data-dtype="Number"/>
            </li>
            <li class="attribute">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.scores.int.long' }}">{{ localize "OSE.scores.int.short" }}</h4>
                <div class="attribute-value">
                    <input name="data.scores.int.value" type="text" value="{{data.scores.int.value}}" placeholder="0"  data-dtype="Number"/>
            </li>
            <li class="attribute">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.scores.wis.long' }}">{{ localize "OSE.scores.wis.short" }}</h4>
                <div class="attribute-value">
                    <input name="data.scores.wis.value" type="text" value="{{data.scores.wis.value}}" placeholder="0"  data-dtype="Number"/>
            </li>
            <li class="attribute">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.scores.dex.long' }}">{{ localize "OSE.scores.dex.short" }}</h4>
                <div class="attribute-value">
                    <input name="data.scores.dex.value" type="text" value="{{data.scores.dex.value}}" placeholder="0"  data-dtype="Number"/>
            </li>
            <li class="attribute">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.scores.con.long' }}">{{ localize "OSE.scores.con.short" }}</h4>
                <div class="attribute-value">
                    <input name="data.scores.con.value" type="text" value="{{data.scores.con.value}}" placeholder="0"  data-dtype="Number"/>
            </li>
            <li class="attribute">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.scores.cha.long' }}">{{ localize "OSE.scores.cha.short" }}</h4>
                <div class="attribute-value">
                    <input name="data.scores.cha.value" type="text" value="{{data.scores.cha.value}}" placeholder="0"  data-dtype="Number"/>
            </li>
        </ul>
    </div>
    {{!-- Skills and abilities --}}
    <div class="flex3 panel abilities resizable" data-base-size="250">
        <div class="panel-title">
            <h4>{{localize 'OSE.panel.abilities'}}</h4>
            <div class="item-controls">
                {{#if owner}}
                <a class="item-control item-create" title='{{localize "OSE.Add"}}' data-type="ability"><i class="fas fa-plus"></i></a>
                {{/if}}
            </div>
        </div>
        <ul class="panel-content inventory resizable" data-base-size="225">
            <div class="">
                {{#each abilities as |item|}}
                <li class="item-entry">
                    <div class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-name flexrow">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <h4 title="{{item.name}}">
                                {{item.name~}}
                            </h4>
                        </div>
                        <div class="item-controls">
                            {{#if ../owner}}
                            <a class="item-control item-edit" title='{{localize "Ose.Edit"}}'><i
                                    class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title='{{localize "Ose.Delete"}}'><i
                                    class="fas fa-trash"></i></a>
                            {{/if}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </div>
        </ul>
    </div>
    {{!-- Saving throws --}}
    <div class="attribute-group">
        <ul class="attributes">
            <li class="attribute saving-throw" data-save="death">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.saves.death.long' }}"><a>{{ localize "OSE.saves.death.short" }}</a></h4>
                <div class="attribute-value">
                    <input name="data.saves.death.value" type="text" value="{{data.saves.death.value}}" placeholder="0"
                        data-dtype="Number" />
            </li>
            <li class="attribute saving-throw" data-save="wand">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.saves.wand.long' }}"><a>{{ localize "OSE.saves.wand.short" }}</a></h4>
                <div class="attribute-value">
                    <input name="data.saves.wand.value" type="text" value="{{data.saves.wand.value}}" placeholder="0"
                        data-dtype="Number" />
            </li>
            <li class="attribute saving-throw" data-save="paralysis">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.saves.paralysis.long' }}"><a>{{ localize "OSE.saves.paralysis.short" }}</a></h4>
                <div class="attribute-value">
                    <input name="data.saves.paralysis.value" type="text" value="{{data.saves.paralysis.value}}" placeholder="0"
                        data-dtype="Number" />
            </li>
            <li class="attribute saving-throw" data-save="breath">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.saves.breath.long' }}"><a>{{ localize "OSE.saves.breath.short" }}</a></h4>
                <div class="attribute-value">
                    <input name="data.saves.breath.value" type="text" value="{{data.saves.breath.value}}" placeholder="0"
                        data-dtype="Number" />
            </li>
            <li class="attribute saving-throw" data-save="spell">
                <h4 class="attribute-name box-title" title="{{ localize 'OSE.saves.spell.long' }}"><a>{{ localize "OSE.saves.spell.short" }}</a></h4>
                <div class="attribute-value">
                    <input name="data.saves.spell.value" type="text" value="{{data.saves.spell.value}}" placeholder="0" />
            </li>
        </ul>
    </div>
</section>