<section class="notes-tab">
  <div class="inventory">
    <div class="flexrow">
      <div class="languages">
        <div class="item-category-title flexrow">
          <div class="item-name">{{localize "OSE.category.languages"}}</div>
          <div class="item-controls">
            <a
              class="item-control item-push"
              data-array="languages"
              title="{{localize 'OSE.Add'}}"
              ><i class="fa fa-plus"></i
            ></a>
          </div>
        </div>
        <ol>
          {{#each system.languages.value as |lang|}}
          <li class="item flexrow" data-lang="{{lang}}">
            <div class="item-name">{{lang}}</div>
            <div class="item-controls">
              <a
                class="item-control item-pop"
                data-array="languages"
                title="{{localize 'OSE.Delete'}}"
                ><i class="fa fa-trash"></i
              ></a>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>
      <div class="flex3 description">
        <div class="item-category-title">Biography</div>
        <div>
          {{editor enrichedBiography target="system.details.biography"
          button=true editable=editable async=true}}
        </div>
      </div>
    </div>
  </div>
  <div class="inventory notes">
    <div class="item-category-title">{{localize "OSE.category.notes"}}</div>
    <div class="resizable-editor" data-editor-size="140">
      {{editor enrichedNotes target="system.details.notes" button=true
      editable=editable async=true}}
    </div>
  </div>
</section>
