<section class="inventory resizable" data-base-size="310">
  <div id="weapons" class="item-category-title flexrow">
    <div class="category-caret"><i class="fas fa-caret-down"></i></div>
    <div class="category-name">{{localize "OSE.items.Weapons"}}</div>
    <div class="icon-row">{{localize "OSE.items.Qualities"}}</div>
    <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
    <div class="item-controls">
      <a
        class="item-control item-create"
        data-type="weapon"
        title="{{localize 'OSE.Add'}}"
        ><i class="fa fa-plus"></i
      ></a>
    </div>
  </div>
  <ol class="item-list">
    {{#each owned.weapons as |item|}}
    <li class="item-entry item" data-item-id="{{item.id}}">
      <div class="item-header item-rollable flexrow">
        <div
          class="item-image"
          style="background-image: url({{item.img}})"
        ></div>
        <h4 class="item-name" title="{{item.name}}">{{item.name~}}</h4>
        <div class="tag-row icon-row">
          {{#each item.system.qualities as |tag|}} {{#if tag.image}}
          <img
            title="{{tag.title}}"
            src="{{tag.image}}"
            width="24"
            height="24"
          />
          {{/if}} {{/each}} {{#each item.system.manualTags as |tag|}} {{#unless
          (getTagIcon tag.value)}}
          <span title="{{tag.title}}"
            >{{tag.value}}{{#unless @last}},{{/unless}}</span
          >

          {{/unless}} {{/each}}
        </div>
        <div class="field-short">
          {{#if (eq @root.config.encumbrance
          "basic")}}_{{else if (eq @root.config.encumbrance
            "itembased")}}{{item.system.itemslots}}{{else}}{{item.system.weight}}{{/if}}
        </div>
        <div class="item-controls">
          {{#if @root.owner }} {{#if (eq @root.type "character")}}
          <a
            class="item-control item-toggle {{#unless item.system.equipped}}item-unequipped{{/unless}}"
            title='{{localize "OSE.items.Equip"}}'
          >
            <i class="fas fa-hand"></i>
          </a>
          {{/if}}
          <a class="item-control item-edit" title='{{localize "OSE.Edit"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title='{{localize "OSE.Delete"}}'
            ><i class="fas fa-trash"></i
          ></a>
          {{/if}}
        </div>
      </div>
      <div class="item-summary">
        {{> (path "/templates/actors/partials/actor-item-summary.html")
        item=item}}
      </div>
    </li>
    {{/each}}
  </ol>
  <div id="armors" class="item-category-title flexrow">
    <div class="category-caret"><i class="fas fa-caret-down"></i></div>
    <div class="category-name">{{localize "OSE.items.Armors"}}</div>
    {{#if @root.config.ascendingAC}}
    <div class="field-short">{{localize "OSE.items.ArmorAAC"}}</div>
    {{else}}
    <div class="field-short">{{localize "OSE.items.ArmorAC"}}</div>
    {{/if}}
    <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
    <div class="item-controls">
      <a
        class="item-control item-create"
        data-type="armor"
        title="{{localize 'OSE.Add'}}"
        ><i class="fa fa-plus"></i
      ></a>
    </div>
  </div>
  <ol class="item-list">
    {{#each owned.armors as |item|}}
    <li class="item-entry item" data-item-id="{{item.id}}">
      <div class="item-header flexrow">
        <div
          class="item-image"
          style="background-image: url({{item.img}})"
        ></div>
        <h4 class="item-name" title="{{item.name}}">{{item.name~}}</h4>
        <div class="field-short">
          {{#if @root.config.ascendingAC}} {{item.system.aac.value}} {{else}}
          {{item.system.ac.value}} {{/if}}
        </div>
        <div class="field-short">
          {{#if (eq @root.config.encumbrance
          "basic")}}_{{else if (eq @root.config.encumbrance
          "itembased")}}{{item.system.itemslots}}{{else}}{{item.system.weight}}{{/if}}
        </div>
        <div class="item-controls">
          {{#if @root.owner }} {{#if (eq @root.type "character")}}
          <a
            class="item-control item-toggle {{#unless item.system.equipped}}item-unequipped{{/unless}}"
            title='{{localize "OSE.items.Equip"}}'
          >
            <i class="fas fa-tshirt"></i>
          </a>
          {{/if}}
          <a class="item-control item-edit" title='{{localize "OSE.Edit"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title='{{localize "OSE.Delete"}}'
            ><i class="fas fa-trash"></i
          ></a>
          {{/if}}
        </div>
      </div>
      <div class="item-summary">
        {{> (path "/templates/actors/partials/actor-item-summary.html")
        item=item}}
      </div>
    </li>
    {{/each}}
  </ol>
  {{!-- Containers items --}}
  <div id="container" class="item-category-title flexrow">
    <div class="category-caret"><i class="fas fa-caret-down"></i></div>
    <div class="category-name">{{localize "OSE.items.Containers"}}</div>
    <div class="field-short"><i class="fas fa-suitcase"></i></div>
    <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
    <div class="item-controls">
      <a
        class="item-control item-create"
        data-type="container"
        title="{{localize 'OSE.Add'}}"
        ><i class="fa fa-plus"></i
      ></a>
    </div>
  </div>
  <ol class="item-list">
    {{#each owned.containers as |bag|}}
    <li class="container item-entry item" data-item-id="{{bag.id}}">
      <div class="item-header flexrow">
        <div
          class="item-image"
          style="background-image: url({{bag.img}})"
        ></div>
        <div class="category-caret"><i class="fas fa-caret-down"></i></div>
        <h4 class="item-name" title="{{bag.name}}">{{bag.name~}}</h4>
        <div class="field-short container-total-weight">
          {{#if (eq @root.config.encumbrance "basic")}}_{{else if (eq
          @root.config.encumbrance
          "detailed")}}_{{else if (eq
            @root.config.encumbrance
            "itembased")}}_{{else}}{{bag.system.totalWeight}}{{/if}}
        </div>
        <div class="field-short container-item-weight">
          {{#if (eq @root.config.encumbrance "basic")}}_{{else if (eq
          @root.config.encumbrance
          "detailed")}}_{{else if (and (eq @root.config.encumbrance
            "itembased") (eq bag.system.contents.length 0))}}{{bag.system.itemslots}}{{else if (and (eq @root.config.encumbrance
              "itembased") (gt bag.system.contents.length 0))}}_{{else}}{{bag.system.weight}}{{/if}}
        </div>
        <div class="item-controls">
          {{#if @root.owner}} {{#if (eq @root.type "character") }} {{#unless
          bag.system.contents.length }}
          <a
            class="item-control item-toggle {{#unless
             bag.system.equipped}}item-unequipped{{/unless}}"
            title='{{localize "OSE.items.Equip"}}'
          >
            <i class="fas fa-hand"></i>
          </a>
          {{/unless }} {{/if }}
          <a class="item-control item-edit" title='{{localize "OSE.Edit"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title='{{localize "OSE.Delete"}}'
            ><i class="fas fa-trash"></i
          ></a>
          {{/if}}
        </div>
      </div>
      <div class="item-summary">
        {{> (path "/templates/actors/partials/actor-item-summary.html")
        item=bag}}
      </div>
      <ol class="item-list contained-items">
        {{#each bag.system.contents as |item|}}
        <li class="item-entry item" data-item-id="{{item.id}}">
          <div
            class="item-header flexrow {{#if (eq item.type 'weapon') }}item-rollable{{/if}}"
          >
            <div
              class="item-image"
              style="background-image: url({{item.img}})"
            ></div>
            <h4 class="item-name" title="{{item.name}}">{{item.name~}}</h4>
            <div class="field-short quantity">
              <input
                value="{{item.system.quantity.value}}"
                type="text"
                placeholder="0"
                data-field="value"
              />{{#if
              item.system.quantity.max}}<span>/{{item.system.quantity.max}}</span>{{/if}}
            </div>
            <div class="field-short">
              {{#if (eq @root.config.encumbrance "basic")}}_{{else if (eq
              @root.config.encumbrance
              "detailed")}}_{{else if (eq @root.config.encumbrance
                "itembased")}}{{item.system.cumulativeItemslots}}{{else}}{{item.system.cumulativeWeight}}{{/if}}
            </div>
            <div class="item-controls">
              {{#if @root.owner}}
              <a class="item-control item-edit" title='{{localize "OSE.Edit"}}'
                ><i class="fas fa-edit"></i
              ></a>
              <a
                class="item-control item-delete"
                title='{{localize "OSE.Delete"}}'
                ><i class="fas fa-trash"></i
              ></a>
              {{/if}}
            </div>
          </div>
          {{#if item.system.quantity.max }} {{#if (lte item.system.quantity.max
          38)}}
          <div class="consumable-counter">
            <label>{{localize "OSE.items.uses"}}</label>
            {{#times item.system.quantity.value}}
            <div class="full-mark"></div>
            {{/times}} {{#times (subtract item.system.quantity.max
            item.system.quantity.value)}}
            <div class="empty-mark"></div>
            {{/times}}
          </div>
          {{/if}} {{/if}}
          <div class="item-summary">
            {{> (path "/templates/actors/partials/actor-item-summary.html")
            item=item}}
          </div>
        </li>
        {{/each}}
      </ol>
    </li>
    {{/each}}
  </ol>
  {{!-- Misc items --}}
  <div id="gear" class="item-category-title flexrow">
    <div class="category-caret"><i class="fas fa-caret-down"></i></div>
    <div class="category-name">{{localize "OSE.items.Misc"}}</div>
    <div class="field-short"><i class="fas fa-hashtag"></i></div>
    <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
    <div class="item-controls">
      <a
        class="item-control item-create"
        data-type="item"
        title="{{localize 'OSE.Add'}}"
        ><i class="fa fa-plus"></i
      ></a>
    </div>
  </div>
  <ol class="item-list">
    {{#each owned.items as |item|}}
    <li class="item-entry item" data-item-id="{{item.id}}">
      <div class="item-header flexrow">
        <div
          class="item-image"
          style="background-image: url({{item.img}})"
        ></div>
        <h4 class="item-name" title="{{item.name}}">{{item.name~}}</h4>
        <div class="field-short quantity">
          <input
            value="{{item.system.quantity.value}}"
            type="text"
            placeholder="0"
            data-field="value"
          />{{#if
          item.system.quantity.max}}<span>/{{item.system.quantity.max}}</span>{{/if}}
        </div>
        <div class="field-short">
          {{#if (eq @root.config.encumbrance "basic")}}_{{else if (eq
          @root.config.encumbrance
          "detailed")}}_{{else if (eq @root.config.encumbrance
            "itembased")}}{{item.system.cumulativeItemslots}}{{else}}{{item.system.cumulativeWeight}}{{/if}}
        </div>
        <div class="item-controls">
          {{#if @root.owner}}
            {{#if (eq @root.type "character") }}
              <a
                class="item-control item-toggle {{#unless
                item.system.equipped}}item-unequipped{{/unless}}"
                title='{{localize "OSE.items.Equip"}}'
              >
                <i class="fas fa-hand"></i>
              </a>
            {{/if }}
          <a class="item-control item-edit" title='{{localize "OSE.Edit"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title='{{localize "OSE.Delete"}}'
            ><i class="fas fa-trash"></i
          ></a>
          {{/if}}
        </div>
      </div>
      {{#if item.system.quantity.max }} {{#if (lte item.system.quantity.max
      38)}}
      <div class="consumable-counter">
        <label>{{localize "OSE.items.uses"}}</label>
        {{#times item.system.quantity.value}}
        <div class="full-mark"></div>
        {{/times}} {{#times (subtract item.system.quantity.max
        item.system.quantity.value)}}
        <div class="empty-mark"></div>
        {{/times}}
      </div>
      {{/if}} {{/if}}
      <div class="item-summary">
        {{> (path "/templates/actors/partials/actor-item-summary.html")
        item=item}}
      </div>
    </li>
    {{/each}}
  </ol>
  {{!-- Treasure items --}}
  <div id="treasure" class="item-category-title flexrow">
    <div class="category-caret"><i class="fas fa-caret-down"></i></div>
    <div class="category-name">{{localize "OSE.items.Treasure"}}</div>
    <div class="field-long">
      {{treasure}} <i class="fas fa-circle"></i>
    </div>
    <div class="field-short"><i class="fas fa-hashtag"></i></div>
    <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
    <div class="item-controls">
      <a
        class="item-control item-create"
        data-type="item"
        data-treasure="true"
        title="{{localize 'OSE.Add'}}"
        ><i class="fa fa-plus"></i
      ></a>
    </div>
  </div>
  <ol class="item-list">
    {{#each owned.treasures as |item|}}
    <li class="item-entry item" data-item-id="{{item.id}}">
      <div class="item-header flexrow">
        <div
          class="item-image"
          style="background-image: url({{item.img}})"
        ></div>
        <h4 class="item-name" title="{{item.name}}">{{item.name~}}</h4>
        <div class="field-long">
          {{item.system.cumulativeCost}}
        </div>
        <div class="field-short quantity">
          <input
            value="{{item.system.quantity.value}}"
            type="text"
            placeholder="0"
            data-field="value"
          />
          {{#if item.system.quantity.max}}
          <span>/{{item.system.quantity.max}}</span>
          {{/if}}
        </div>
        <div class="field-short">
          {{#if (eq @root.config.encumbrance
          "itembased")}}{{item.system.cumulativeItemslots}}{{else}}{{item.system.cumulativeWeight}}{{/if}}
        </div>
        <div class="item-controls">
          {{#if @root.owner}}
            {{#if (eq @root.type "character") }}
              <a
                class="item-control item-toggle {{#unless
                item.system.equipped}}item-unequipped{{/unless}}"
                title='{{localize "OSE.items.Equip"}}'
              >
                <i class="fas fa-hand"></i>
              </a>
            {{/if }}
          <a class="item-control item-edit" title='{{localize "OSE.Edit"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title='{{localize "OSE.Delete"}}'
            ><i class="fas fa-trash"></i
          ></a>
          {{/if}}
        </div>
      </div>
      <div class="item-summary">
        {{> (path "/templates/actors/partials/actor-item-summary.html")
        item=item}}
      </div>
    </li>
    {{/each}}
  </ol>
</section>
{{#unless (eq @root.system.encumbrance.variant 'disabled')}}
<section>
  {{#with @root.system.encumbrance}}
  <div class="encumbrance {{#if encumbered}}encumbered{{/if}}">
    <span class="encumbrance-bar" style="width:{{pct}}%"></span>
    <span class="encumbrance-label">{{value}} / {{max}}</span>
    {{#each steps as |s|}}
    <i class="encumbrance-breakpoint arrow-up" style="left:{{s}}%"></i>
    <i class="encumbrance-breakpoint arrow-down" style="left:{{s}}%"></i>
    {{/each}}
  </div>
  {{/with}}
</section>
{{/unless}}
