<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'OSE.Name'}}" />
  </h1>
  <ul class="summary flexrow">
    <li class="flex2">
      <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" />
      <label>{{localize 'OSE.Alignment'}}</label>
    </li>
    <li>
      <input type="text" name="data.details.appearing" value="{{data.details.appearing}}" />
      <label>{{localize 'OSE.Appearing'}}</label>
    </li>
    {{#if config.morale}}
    <li class="flexrow">
      <div>
        <input type="text" name="data.details.morale" value="{{data.details.morale}}" />
        <label>{{localize 'OSE.Morale'}}</label>  
      </div>
      <div class="morale-check"><a><i class="fas fa-dice"></i></a></div>
    </li>
    {{/if}}
  </ul>
  <ul class="summary flexrow">
    <li class="flex3">
      <input type="text" name="data.details.xp" value="{{data.details.xp}}" />
      <label>{{localize 'OSE.Experience'}}</label>
    </li>
    <li class="flex3">
      <input type="text" name="data.details.treasure.type" value="{{data.details.treasure.type}}" />
      <label>{{localize 'OSE.Treasure'}}</label>
    </li>
    <li title="{{localize 'OSE.TreasureTableHint'}}">
      <div>{{data.details.treasure.table}}</div>
      <label>{{localize 'OSE.TreasureTable'}}</label>
    </li>
  </ul>
</section>