<section class="ose game-license">
    <p>
      Simple, robust rules compatible with decades of Basic/Expert material. <a href="https://necroticgnome.com">See the website</a> for more about Old-School Essentials.
    </p>
  <p>
    <!--IMPORTANT-->
    Old-School Essentials is a trademark of Necrotic Gnome, permitted for use under contract.
    <!--/IMPORTANT-->
  </p>
  <p>
    Report your issues on our
    <a href="https://github.com/vttred/ose/issues/new">Github issue tracker</a>
    or by using the Bug Reporter module in Foundry VTT.
  </p>
    <h3>
      Open Source Acknowledgements
    </h3>
  <p>
    This game system is open source!
    Brought to life on Foundry VTT by U~man. Currently maintained by VTT Red. <a href="https://github.com/vttred/ose/">See the
    project page</a> for a full list of contributors and license info.
  </p>
</section>
