section.ose.game-license
  p 
    | Simple, robust rules compatible with decades of Basic/Expert material.
    a(href="https://necroticgnome.com") See the website
    | for more about Old-School Essentials.
  
  p Old-School Essentials is a trademark of Necrotic Gnome, permitted for use under contract.
  
  p
    | Report your issues on our
    a(href="https://github.com/vttred/ose/issues/new") Github issue tracker
    | or by using the Bug Reporter module in Foundry VTT.
  
  h3 Open Source Acknowledgements
  
  p This game system is open source!
  
  p
    | Brought to life on Foundry VTT by U~man. Currently maintained by VTT Red.
    a(href="https://github.com/vttred/ose/") See the project page
    | for a full list of contributors and license info.
