<div class="ose game-license">
  <p class="ose game-license">
    Unofficial Old-School Essentials on Foundry VTT <!-- BEGIN TEXT REQUIRED BY LICENSE -->requires <strong><em>Old-School Essentials</em></strong>.<!-- END TEXT REQUIRED BY LICENSE --> Find the game at <a href="https://necroticgnome.com">Necrotic Gnome's website</a>.
  </p>
  <p>
    <!-- BEGIN TEXT REQUIRED BY LICENSE -->
    This third party product is not affiliated with or approved by Necrotic Gnome.

    Old-School Essentials is a trademark of Necrotic Gnome. The trademark and Old-School Essentials logo are used with permission of Necrotic Gnome, under license. <!-- ADDITIONAL TEXT REQUESTED BY NECROTIC GNOME --> Permission to use Old-School Essentials in the ruleset title granted by Necrotic Gnome. <!-- END ADDITIONAL TEXT -->
    <!-- END TEXT REQUIRED BY LICENSE -->
  </p>
  <p>
    Brought to life on Foundry VTT by U~man. Currently maintained by Anthony
    Ronda, who assigns his contributions to VTT Red. See the
    <a href="https://github.com/vttred/ose/">GitHub repo</a> for a full list of
    contributors.
  </p>
  <div class="footer">
    Report your issues on
    <a href="https://github.com/vttred/ose/issues">GitHub</a> or by using the
    Bug Reporter module in Foundry VTT.
  </div>
</div>
