<div><b>{{name}}</b></div>
<div class="dice-roll">
  <div class="dice-result">
    <div class="dice-formula">{{formula}}</div>
    <div class="dice-tooltip expanded" style="display: none">
      <section class="tooltip-part">
        <div class="dice">
          <header class="part-header flexrow">
            <span class="part-formula">{{result}}</span>

            <span class="part-total">{{total}}</span>
          </header>
          <ol class="dice-rolls">
            <li class="roll die d6">{{total}}</li>
          </ol>
        </div>
      </section>
    </div>

    <h4 class="dice-total">{{total}}</h4>
  </div>
</div>
</br>