.character-2 .window-content {
  padding: calc(var(--spacing-full) * 1.125) 
           var(--spacing-full)
           calc(var(--spacing-full) * 1.5);
  color: var(--color-primary);

  font-size: var(--font-size-base);
}

@media (prefers-color-scheme: dark) {
  .character-2 .window-content {
    backdrop-filter: blur(3px) contrast(1.25);
    background: var(--background-color-sheet);
  }

  .character-2 character-info-field {
    --background-color-heading: var(--color-ui-38);
    --color-heading: var(--color-ui-100)
  }
}

.character-2 nav.sheet-tabs {
  margin: 0 0 var(--spacing-full);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  justify-content: stretch;
  border: 1px solid var(--background-color-heading);
}

.character-2 nav.sheet-tabs .item {
  background-color: transparent;
}

.character-2 nav.sheet-tabs .item.active {
  background-color: var(--background-color-heading);
  color: var(--color-heading);
  text-shadow: none;
}

.character-2 .character-info {
  display: grid;
  grid-template-columns: 144px 1fr;
  grid-gap: var(--spacing-quarter);
  margin-bottom: var(--spacing-half);
}

.character-2 .character-info img {
  height: 100%;
  object-fit: cover;
}

.character-2 .character-info__details {
  display: grid;
  grid-template-columns: 115px 160px 196px;
  grid-column-gap: var(--spacing-half);
  grid-row-gap: var(--spacing-three-quarters);
}

.character-2 .character-info__details [name="name"] {
  grid-column-start: 1;
  grid-column-end: 3;
}

.character-2 .character-info img {
  border: 1px solid var(--color-ui-09);
}

.character-2 .combat__stats {
  display: grid;
  grid-align-items: start;
  grid-template-columns: 100px 1fr 100px;
  grid-gap: var(--spacing-full);
}

.character-2 .combat__stats ability-score-field:not(:last-of-type) {
  margin-bottom: var(--spacing-half);
}

.character-2 .combat__vitals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--spacing-full);
  margin-bottom: var(--spacing-full);
}

.character-2 .combat__favorites {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacing-full);
}

.character-2 .favorites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--spacing-full);
}

.character-2 [data-tab="inventory"] expandable-section {
  margin-bottom: var(--spacing-quarter);
}

.character-2 inventory-row:nth-of-type(2n) {
  background-color: var(--background-color-zebra-odd);
}

.character-2 inventory-row:nth-of-type(2n) {
  background-color: var(--background-color-zebra-even);
}

.character-2 inventory-row:not(:last-of-type) {
  margin-bottom: var(--spacing-quarter);
}
.character-2 .container-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--spacing-full);
}