:root {
  /* Color naming scheme:
  --color-[purpose/hue]-[saturation%]-[alpha%]
  */
  --color-ui-00: #000000;
  --color-ui-09: #2c2525;
  --color-ui-38: #606060;
  --color-ui-57: #939393;
  --color-ui-75: #c0c0c0;
  --color-ui-85: #d8d8d8;
  --color-ui-100: #ffffff;

  --color-heading: var(--color-ui-100); 
  --color-subheading: var(--color-ui-09);

  --background-color-heading: var(--color-ui-09);
  --background-color-subheading: var(--color-ui-57);

  --background-color-zebra-odd: var(--color-ui-57);
  --background-color-zebra-even: var(--color-ui-38);
}

@media (prefers-color-scheme: dark) {
  root {
    --color-heading: var(--color-ui-09);
    --color-subheading: var(--color-ui-09);

    --background-color-heading: var(--color-ui-100);
    --background-color-subheading: var(--color-ui-75);

    --background-color-zebra-odd: var(--color-ui-85);
    --background-color-zebra-even: var(--color-ui-75);
  }
}