@import "./variables.scss";

.ose.sheet.actor {
  $detailsHeight: 44px;

  ul li {
    list-style: none;
    padding: 0;
  }

  .panel {
    border: 1px solid $colorDark;
    .panel-title {
      color: whitesmoke;
      background: $colorDark;
      line-height: 14px;
      height: 20px;
      text-align: center;
      margin: 0;
      padding: 4px;
      display: flex;
      h4 {
        flex: 1;
      }
      .item-controls {
        font-size: 12px;
        flex: 0 0 18px;
      }
    }
    .panel-content {
      margin: 0;
      padding: 0;
    }
  }
  
  /* Header Summary Details */
  .header-details {
    h1 {
      input {
        margin: 0 0 10px 0;
      }
    }
  }
  .profile-img {
    border: 0;
    flex: 0 0 145px;
    height: 145px;
  }

  .summary {
    flex: 0 0 100%;
    height: $detailsHeight;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: none;

    li {
      height: calc(100% - 6px);
      float: left;
      margin: 2px 0;
      padding: 0;
      line-height: 30px;
      color: $colorOlive;
      position: relative;
      label {
        line-height: 10px;
        position: absolute;
        font-size: 10px;
        color: $colorOlive;
        bottom: 0;
        left: 12px;
      }
    }
  }
  .sheet-tabs {
    position: absolute;
    transform: rotate(90deg);
    top: 365px;
    right: -166px;
    width: 320px;
    z-index: -1;
    .item {
      padding: 0 10px;
      margin-left: -5px;
      text-indent: 4px;
      background: url('/ui/parchment.jpg');
      border-top-right-radius: 4px;
      border-top-left-radius: 15px;
      box-shadow: 0 0 6px 1px $colorDark;
      font-size: 13px;
      &.active {
        z-index: 1;
        font-weight: bold;
        text-shadow: none;
      }
    }
  }
  .sheet-body {
    padding: 5px 0;
    height: calc(100% - 175px);
    .attributes {
      margin: 0;
      padding: 0;
      .attribute {
        position: relative;
        margin: 8px;
        border: 1px solid $colorTan;
        box-shadow: 0 0 2px $colorTan;
        .attribute-name {
          color: whitesmoke;
          padding: 2px;
          margin: 0;
          background: $colorDark;
          text-align: center;
        }
        &.attribute-secondaries {
          margin: 10px 5px;
        }
        &.ability-score {
          height: 40px;
          .attribute-value {
            line-height: 36px;
          }
        }
        .attribute-value {
          text-align: center;
          padding: 4px;
        }
        .attribute-mod {
          position: absolute;
          color: $colorTan;
          right: 5px;
          top: -5px;
          font-size: 13px;
        }
      }
    }
    .attribute-group {
      flex: 0 0 105px;
      margin: auto 0;
      .attributes {
        .attribute {
          display: flex;
          flex-direction: row;
          .attribute-name {
            width: 40px;
            margin: 0;
            line-height: 38px;
            a {
              margin: auto;
            }
          }
          &.saving-throw .attribute-name {
            line-height: 16px;
            width: 80px;
          }
          .attribute-value {
            width: 45px;
            flex-grow: 0;
          }
        }
      }
    }
    .editor {
      height: 300px;
      padding: 4px;
    }
  }
}
