@import "./variables.scss";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.ose.sheet.actor.character {
  min-width: 450px;
  min-height: 590px;

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  .sheet-body {
    .inventory {
      overflow: auto;
      height: 520px;
      .items-section {
        .header-field {
          margin: 0;
        }
      }
      .item-titles {
        text-align: center;
        margin-top: 1px;
        padding-top: 2px;
        .item-name {
          text-align: left;
          text-indent: 8px;
        }
        font-weight: 300;
        font-size: 12px;
        background: $colorDark;
        color: white;
      }
      .item-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          padding: 0 2px;
        }
        .item-header {
          @extend %header-field !optional;
          padding: 0px;
          margin-bottom: 0px;
        }
        .item-entry {
          &:nth-child(even) {
            background: rgba(0, 0, 0, 0.1);
          }
        }
        .item {
          line-height: 30px;
          height: 30px;
          overflow: hidden;
        }
        .item-equipped {
          grid-area: item-equipped;
          justify-self: center;
        }
        .item-name {
          text-indent: 8px;
          text-align: left;
          overflow: hidden;
          height: 30px;
          margin: 0;
          line-height: 30px;
          .item-image {
            flex-basis: 30px;
            flex-grow: 0;
            background-size: contain;
            background-repeat: no-repeat;
            &:hover {
              background-image: url("/icons/svg/d20-grey.svg") !important;
              cursor: pointer;
            }
          }
          h4 {
            margin: 0;
          }
        }
      }
      .field-longer {
        text-indent: 8px;
        text-align: left;
        flex-basis: 150px;
        font-size: 12px;
        flex-grow: 0;
      }
      .field-long {
        flex-basis: 65px;
        flex-grow: 0;
        text-align: center;
        font-size: 12px;
      }
      .field-short {
        font-size: 12px;
        flex-basis: 45px;
        flex-grow: 0;
        text-align: center;
        &.quantity {
          margin: 4px 0;
          display: flex;
          input {
            border-bottom: none;
          }
        }
      }
      .item-controls {
        font-size: 12px;
        flex-basis: 60px;
        flex-grow: 0;
        text-align: right;
        margin-right: 4px;
        .item-unequipped {
          color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Inventory                                */
  /* ----------------------------------------- */
  .inventory {

  }
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
}
