@import "./variables.scss";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.ose.sheet.actor.character {
  min-width: 450px;
  min-height: 590px;

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    .xp-bonus {
      top: -15px;
      right: 3px;
      color: $colorTan;
      font-size: 10px;
      position: absolute;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  .sheet-body {
    .health {
      &.armor-class {
        background: url('/systems/ose/assets/shield.png') no-repeat center;
        background-size: 90px;
      }
        margin: 10px 0;
        height: 90px;
        position: relative;
        input {
          font-size: 16px;
          font-weight: bolder;
          text-shadow: 0 0 2px white, 0 1px 2px white, 1px 0 2px white, 1px 1px 2px white; 
        }
        .health-top {
          border-bottom: none;
          position: absolute;
          font-size: 24px;
          top: 28px;
          width: 70px;
          left: calc(50% - 35px);
        }
        .health-bottom {
          border-bottom: none;
          position: absolute;
          bottom: 12px;
          width: 40px;
          right: calc(50% + -20px);
        }
        .health-empty {
          background: url('/systems/ose/assets/heart_empty.png') no-repeat center;
          background-size: 90px;
          background-position: top;
        }
        .health-full {
          background: url('/systems/ose/assets/heart_full.png') no-repeat center;
          background-size: 90px;
          background-position: bottom;
        }
    }
    .inventory {
      overflow: auto;
      .header-spells {
        line-height: 30px;
      }
      .item-titles {
        text-align: center;
        margin-top: 1px;
        padding-top: 2px;
        .item-name {
          text-align: left;
          text-indent: 8px;
        }
        font-weight: 300;
        font-size: 12px;
        background: $colorDark;
        color: white;
        input {
          color: white;
          margin: auto;
        }
      }
      .item-list {
        list-style: none;
        margin: 0;
        padding: 0;
        &>* {
          line-height: 30px;
        }
        .item-summary {
          font-size: 13px;
          padding: 0 4px;
          line-height: 20px;
        }
        .item-header {
          @extend %header-field !optional;
          padding: 0px;
          margin-bottom: 0px;
        }
        .item-entry {
          &:nth-child(even) {
            .item {
              background: rgba(0, 0, 0, 0.1);
            }
          }
        }
        .item {
          line-height: 30px;
          height: 30px;
          overflow: hidden;
        }
        .item-equipped {
          grid-area: item-equipped;
          justify-self: center;
        }
        .item-name {
          text-indent: 8px;
          text-align: left;
          overflow: hidden;
          height: 30px;
          margin: 0;
          line-height: 30px;
          &:hover .item-image {
            background-image: url("/icons/svg/d20-grey.svg") !important;
            cursor: pointer;
          }
          .item-image {
            flex-basis: 30px;
            flex-grow: 0;
            background-size: contain;
            background-repeat: no-repeat;
            &:hover {
              background-image: url("/icons/svg/d20-black.svg") !important;
            }
          }
          h4 {
            margin: 0;
          }
        }
      }
      .field-longer {
        text-indent: 8px;
        text-align: left;
        flex-basis: 150px;
        font-size: 12px;
        flex-grow: 0;
      }
      .field-long {
        flex-basis: 65px;
        flex-grow: 0;
        text-align: center;
        font-size: 12px;
      }
      .field-short {
        font-size: 12px;
        flex-basis: 45px;
        flex-grow: 0;
        text-align: center;
        &.quantity {
          display: flex;
          input {
            margin: 3px 0;
            border-bottom: none;
          }
        }
      }
      .item-controls {
        font-size: 12px;
        flex-basis: 60px;
        flex-grow: 0;
        text-align: right;
        margin-right: 4px;
        .item-unequipped {
          color: rgba(0, 0, 0, 0.2);
        }
      }
      &.spells {
        .item-controls {
          flex-basis: 30px;
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Inventory                                */
  /* ----------------------------------------- */
  .inventory {

  }
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
}
