.ose.sheet.item {
  .sheet-header {
    .profile-img {
      border: none;
      flex: 0 0 84px;
      height: 84px;
    }
    .tag-list {
      margin: 0;
      height: 20px;
      overflow: auto;
      list-style: none;
      padding: 0;
      display: flex;
      .tag {
        background: $colorFaint;
        border-radius: 10px;
        color: $colorDark;
        padding: 2px 5px;
        box-shadow: 0 0 1px $colorDark;
        margin: 0 2px;
        i {
          font-size: 8px;
          vertical-align: top;
          color: $colorOlive;
        }
      }
    }
  }
  .sheet-body {
    .stats {
      flex: 0 0 90px;
      border-right: 1px groove rgba(0, 0, 0, 0.2);
      padding-right: 2px;
      font-size: 13px;
      .form-group {
        margin: 1px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        label {
          background: rgba(0, 0, 0, 0.1);
          padding: 0 4px;
        }
        input {
          border-bottom: none;
          margin: auto 0;
        }
      }
      .block-input {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      &.narrow {
        .form-group {
          input {
            height: 18px;
          }
        }
      }
    }
    .editor {
      height: 240px;
    }
    .weapon-editor {
      .editor {
        height: 215px;
      }
    }
  }
}
