
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */

$colorDark: #191813;
$colorFaint: #c9c7b8;
$colorBeige: #b5b3a4;
$colorTan: #7a7971;
$colorOlive: #4b4a44;
$colorCrimson: #44191A;
$borderGroove: 2px groove #eeede0;
$sheetBackground: whitesmoke;
$inputBackground: linear-gradient(transparent, rgba(0, 0, 0, 0.1));

