/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */

$colorDark: #2c2525;
$colorDarkGrey: #606060;
$colorMediumGrey: #939393;
$colorLightGrey: #c0c0c0;
$colorLight: #d8d8d8;
$colorOlive: #4b4a44;
$colorCrimson: #44191a;
$borderGroove: 2px groove #eeede0;
$inputBackground: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
